$fsize-h1:         29px;
$fsize-h2:         26px;
$fsize-h3:         22px;
$fsize-content:    18px;
$fsize-text-small: 15px;
$fsize-btn:        13px;

$color-lighter: #ffffff;
$color-light: #f4f4f4;
$color-accent: #209c89;
